/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: pt mono;
}

textarea {
  width: 40rem;
  height: 30rem;
}

.fun-font {
  font-family: bangers;
}

.box-shadow {
  box-shadow: 4px 4px 5px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.fa-spin-hover:hover {
  -webkit-animation: fa-spin 2s infinite linear;
  -moz-animation: fa-spin 2s infinite linear;
  -o-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}