/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: pt mono;
}

#app-name {
  font-family: bangers;
}

.box-shadow {
  box-shadow: 4px 4px 5px;
}

.background-image {
  background-image: url('../images/excuses-placeholder-1.png');
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;
  position: relative;
  padding: 10em 0em;
  overflow: hidden;
}

.fun-font {
  font-family: bangers;
}

#astro-sign-label, #location-label  {
  font-family: bangers;
}

.hidden {
  display: none;
}

.show {
  display: block;
}


.fa-spin-hover:hover {
  -webkit-animation: fa-spin 2s infinite linear;
  -moz-animation: fa-spin 2s infinite linear;
  -o-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

#date {
  font-family: bangers;
}